# local data storage directory
dagster/data/

# old assets file
dagster/clash_royale_etl_project/assets/api.py
data_model.mmd

# pycache files
*.py[cod]

.streamlit/

# PyPI files
bin/
include/
lib/
lib64
pyvenv.cfg
